header {
    width: 100vw;
    height: 90px;
    background-color: black;
    font-family: sans-serif;
        color: white;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
   opacity: 0.7;
  
}

.logo {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 220px;
    height: 90px;
}

.logo > a {
    padding-top: 30px;
}